<app-introduction />
@if (agents$ | async; as agents) {

  <app-agent-preview [agents]="agents" />

}

<app-feature-preview
  class="crosshairs"
  backgroundColor="#ECE8E1"
  color="#111111"
>
  <app-title margin="3rem 0 4rem 0" color="#111111">CROSSHAIRS</app-title>
  <img
    class="feature-image"
    src="assets/images/crosshair.webp"
    alt="crosshair"
  />
  <h2>Shroud Crosshair</h2>
  <p>
    Trying to find the perfect Valorant crosshair to use in ranked? From bespoke
    Valorant crosshairs to Valorant pro crosshairs, we've got you covered. You
    can submit your crosshairs
    <a
      class="submit-link"
      target="_blank"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
      >here.</a
    >
  </p>
  <app-button routerLink="/crosshairs">CROSSHAIRS</app-button>
</app-feature-preview>

<app-feature-preview
  [descriptionOrder]="-1"
  class="lineups"
  backgroundColor="#0F1923"
  color="#F2F2F2"
>
  <app-title margin="3rem 0 4rem 0">LINEUPS</app-title>
  <img class="feature-image" src="assets/images/lineup.webp" alt="lineup" />
  <h2>Viper Lineup</h2>
  <p>
    Find helpful lineups for variety of agents. Lineups, one-way smokes,
    executes and more. Guides are submitted by community members.
    <a
      class="submit-link"
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
      target="_blank"
      >To submit click here</a
    >
    and send us your best lineups!
  </p>
  <app-button routerLink="/lineups">LINEUPS</app-button>
</app-feature-preview>
