@use '/src/styles/palette' as *;

.feature-image {
  width: 100%;
}

app-feature-preview {
  h2 {
    margin-bottom: 1.3rem;
  }
}

:host {
  .crosshairs {
    app-button {
      margin: auto 0 0 auto;
    }

    ::ng-deep {
      h1::after {
        background-color: $primary-dark;
      }
      button {
        outline: 2px solid $primary-dark;
      }
    }

    img {
      outline: 2px solid $primary-dark;
      outline-offset: 6px;
    }
  }

  .lineups {
    app-button {
      margin: auto auto 0 0;
    }
    img {
      outline: 2px solid white;
      outline-offset: 6px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .crosshairs,
    .lineups {
      app-button {
        margin: 2rem auto 1rem auto;
      }
    }
  }
}

::ng-deep {
  p {
    max-width: 50ch;
  }
  .submit-link {
    color: $light-red !important;
    text-decoration: underline;
  }
}
