<app-introduction></app-introduction>
<app-agent-preview [agents]="agents"></app-agent-preview>
<app-feature-preview
  class="crosshairs"
  backgroundColor="#ECE8E1"
  color="#111111"
>
  <app-title margin="3rem 0 4rem 0" appTitle color="#111111"
    >CROSSHAIRS</app-title
  >
  <img
    class="feature-image"
    featureImage
    src="../../../assets/images/crosshair.webp"
    alt="crosshair"
  />
  <h2 featureTitle>Shroud Crosshair</h2>
  <p featureText>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <app-button button routerLink="/crosshairs">CROSSHAIRS</app-button>
</app-feature-preview>
<app-feature-preview
  [descriptionOrder]="-1"
  class="lineups"
  backgroundColor="#0F1923"
  color="#F2F2F2"
>
  <app-title margin="3rem 0 4rem 0" appTitle>LINEUPS</app-title>
  <img
    class="feature-image"
    featureImage
    src="../../../assets/images/lineup.webp"
    alt="lineup"
  />
  <h2 featureTitle>Viper Lineup</h2>
  <p featureText>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <app-button button routerLink="/lineups">LINEUPS</app-button>
</app-feature-preview>
