<header>
  <div class="logo">
    <img class="logo-image" src="../../assets/images/logo.svg" alt="logo" />
    <h2 class="logo-title">
      VALORANT <br />
      HELPER
    </h2>
  </div>

  <nav>
    <ul>
      <li><a routerLinkActive="active" routerLink="/">HOME</a></li>
      <li><a routerLinkActive="active" routerLink="/">AGENTS</a></li>
      <li><a routerLinkActive="active" routerLink="/">CROSSHAIR</a></li>
      <li><a routerLinkActive="active" routerLink="/">LINE-UPS</a></li>
      <li><a routerLinkActive="active" routerLink="/">ABOUT</a></li>
    </ul>
  </nav>
</header>
