<header>
  <div class="logo">
    <img
      routerLink="/"
      class="logo-image"
      src="../../assets/images/logo.svg"
      alt="logo"
    />
    <h2 class="logo-title">
      VALORANT <br />
      HELPER
    </h2>
  </div>

  <nav>
    <ul>
      <li><a routerLinkActive="active" routerLink="/home">HOME</a></li>
      <li><a routerLinkActive="active" routerLink="/agents">AGENTS</a></li>
      <li>
        <a routerLinkActive="active" routerLink="/crosshairs">CROSSHAIRS</a>
      </li>
      <li><a routerLinkActive="active" routerLink="/line-ups">LINE-UPS</a></li>
      <li><a routerLinkActive="active" routerLink="/about">ABOUT</a></li>
    </ul>
  </nav>
</header>
