:host {
  display: block;
}

button {
  background-color: var(--light-red);
  padding: 10px 50px;
  font-weight: bold;
  outline: 2px solid white;
  outline-offset: 5px;
  transition: 0.2s;

  &:hover {
    background: var(--primary-dark);
  }
}
