<div (click)="location.back()" class="back">
  <img src="assets/images/back-arrow.svg" alt="arrow" />
  <h6>BACK</h6>
</div>

@let agent = agent$ | async;

@if (agent) {
  <div class="agent-description">
    <article>
      <h1>{{ agent.displayName }}</h1>
      <h6>// ROLE</h6>
      <h2>{{ agent.role.displayName }}</h2>
      <p>{{ agent.role.description }}</p>
      <h6>// BIOGRAPHY</h6>
      <p>{{ agent.description }}</p>
    </article>

    <aside [ngStyle]="{ 'background-image': 'url(' + agent.background + ')' }">
      <img [src]="agent.bustPortrait" [alt]="agent.displayName" />
    </aside>
  </div>

  <app-title margin="2rem 0 3rem 0">SPECIAL ABILITIES</app-title>

  <div class="ability-container">
    <div class="ability-overview">
      @for (ability of agent.abilities; track ability) {
        <div
          [class.active]="ability.slot === activeAbility"
          (click)="abilityClick(ability)"
          class="ability"
        >
          <img [src]="ability.displayIcon" [alt]="ability.displayName" class="ability-icon" />
          <div class="ability-description">
            <h2>{{ ability.displayName }}</h2>
            <p>{{ ability.description }}</p>
          </div>
        </div>
      }
    </div>
    <video [muted]="true" [src]="abilityVideo" autoplay loop></video>
  </div>
} @else {
  <app-loading />
}
