.feature-image {
  width: 100%;
}

app-feature-preview {
  ::ng-deep {
    h2 {
      margin-bottom: 1.3rem;
    }
  }
}

.crosshairs {
  app-button {
    margin: auto 0 0 auto;
    ::ng-deep {
      button {
        outline: 1px solid #111111;
      }
    }
  }
  ::ng-deep {
    h1::after {
      background-color: #111111;
    }
  }
}

.line-ups {
  app-button {
    margin: auto auto 0 0;
  }
}
