section {
  padding-bottom: 5rem;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 600px));
  margin: 1rem;
  justify-content: center;
  gap: 7rem;

  .feature-description {
    display: flex;
    flex-direction: column;
  }
}
