@use "/src/styles/index.scss" as *;

header {
  background-color: $primary-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
  border-bottom: 4px solid $light-red;
}

.logo {
  display: flex;
  align-items: center;
  &-image {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }
  &-title {
    font-family: "valorant";
    font-weight: 300;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
}

ul {
  display: flex;
  gap: 1.2rem;
}

li {
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
}
a {
  &.active {
    color: $light-red;
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 6px);
      border-radius: 5px;
      height: 3px;
      bottom: -5px;
      left: -2px;
      background-color: $light-red;
    }
  }
}

@media only screen and (max-width: 780px) {
  nav {
    display: none;
  }

  .logo {
    margin-inline: auto;
  }
}
