@use "../../../../../styles/palette" as *;

.container {
  background-color: $primary-dark;
}

.agents-wrapper {
  position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  left: 10vw;
}
.arrow-right {
  right: 10vw;
}

.agents-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(18, 300px);
  width: calc(900px + 6rem);
  margin-inline: auto;
  gap: 2rem;
  overflow: hidden;
}

.agent {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  overflow: hidden;
}
.agent-name {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  h2 {
    font-family: "valorant";
    font-weight: 300;
  }
  h3 {
    font-weight: 300;
  }
  background-color: $light-red;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem 0;
}
