<app-title>MAPS</app-title>
<div class="back" routerLink="/lineups">
  <img src="assets/images/back-arrow.svg" alt="arrow" />
  <h6>BACK</h6>
</div>

<div *ngIf="maps$ | async as maps; else loading" class="map-container">
  <div *ngFor="let map of maps" class="map" appToggleSites>
    <img
      [src]="map.listViewIcon"
      [alt]="map.displayName"
      class="site-img"
      width="450"
      height="100"
    />
    <div class="description">
      <h2 class="map-name">{{ map.displayName }}</h2>
      <img
        class="regular-arrow"
        src="assets/images/regular-arrow.svg"
        alt="arrow"
      />
    </div>

    <div class="bottom-content">
      <div
        *ngFor="let siteName of mockSites"
        (click)="
          navigateToLineup(
            map.displayName.toLowerCase(),
            siteName.toLowerCase()
          )
        "
        class="site"
      >
        <p>{{ siteName }} Site</p>
        <img src="assets/images/front-arrow.svg" alt="arrow" />
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
