@use '/src/styles/palette' as *;

:host {
  display: block;
  min-height: 100%;
  background-color: $primary-dark;
}

.back {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.8rem;
  cursor: pointer;
  margin-left: 5%;
  padding-top: 2rem;

  img {
    height: 20px;
  }
}

.map-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-inline: 2rem;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.map {
  position: relative;
  transition: 0.2s;
  cursor: pointer;

  h2 {
    display: inline-block;
    transition: 0.2s;
  }

  &:hover {
    h2 {
      color: $light-red;
    }
  }

  .description {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: black;
    background-color: $light-white;
    border-bottom: 5px solid $light-red;
    z-index: 10;
  }

  .regular-arrow {
    margin-left: auto;
    transform: rotate(180deg);
    transition: 0.2s;
  }
}

.bottom-content {
  width: 100%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

.site {
  background-color: $light-white;
  font-size: 1.2rem;
  color: black;
  padding: 10px 2rem;
  border-bottom: 3px solid $light-red;
  display: flex;
  align-items: center;
  transition: 0.2s;

  &:hover {
    color: $light-red;
  }

  img {
    margin-left: auto;
  }
}

.active {
  &.map {
    margin-bottom: 140px;

    h2 {
      color: $light-red;
    }
  }

  .regular-arrow {
    transform: rotate(0);
  }

  .bottom-content {
    opacity: 1;
    pointer-events: unset;
  }
}

.site-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}