<section class="container">
  <app-title margin="3rem 0 3rem 0">AGENTS</app-title>
  <div class="agents-container">
    <div
      [ngStyle]="{ 'background-image': 'url(' + agent.background + ')' }"
      class="agent"
      *ngFor="let agent of agents"
    >
      <img
        class="agent-img"
        [src]="agent.bustPortrait"
        [alt]="agent.displayName"
      />

      <div class="agent-name">
        <h2>{{ agent.displayName }}</h2>
        <h3>{{ agent.role.displayName }}</h3>
      </div>
    </div>
  </div>
</section>
