@use "../../../../styles/palette" as *;

.container {
  background-color: $primary-dark;
  min-height: 100%;
}

.agents-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90vw;
  margin-inline: auto;
  justify-items: center;
  gap: 2rem;
}

.agent {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.agent-img {
  width: 300px;
}

.agent-name {
  position: absolute;
  width: 100%;
  bottom: 0;
  h2 {
    font-family: "valorant";
    font-weight: 300;
  }
  background-color: $light-red;
}
