@use "/src/styles/palette" as *;

.agent {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.7s;
}
.agent-name {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  bottom: 0;
  padding: 10px;
  align-items: flex-end;
  .role-img {
    margin-left: auto;
    max-width: 20px;
  }
  h2 {
    font-family: "valorant";
    font-weight: 300;
  }
  h3 {
    font-weight: 300;
  }
  background-color: $light-red;
}
