<app-title>MAPS</app-title>
<div routerLink="/lineups" class="back">
  <img src="../../../../../assets/images/back-arrow.svg" alt="arrow" />
  <h6>BACK</h6>
</div>

<div class="map-container">
  <div appToggleSites class="map fade-in" *ngFor="let map of maps$ | async">
    <img
      width="450"
      height="100"
      [src]="map.listViewIcon"
      [alt]="map.displayName"
    />
    <div class="description">
      <h2 class="map-name">{{ map.displayName }}</h2>
      <img
        class="regular-arrow"
        src="../../../../../assets/images/regular-arrow.svg"
        alt="arrow"
      />
    </div>

    <div class="bottom-content">
      <div
        (click)="
          navigateToLineup(
            map.displayName.toLowerCase(),
            siteName.toLowerCase()
          )
        "
        class="site"
        *ngFor="let siteName of mockSites"
      >
        <p>{{ siteName }} Site</p>
        <img src="../../../../../assets/images/front-arrow.svg" alt="arrow" />
      </div>
    </div>
  </div>
</div>
