@use "/src/styles/palette" as *;

.container {
  background-image: url("../../../../../assets/images/introduction-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  min-height: calc(100% - 92px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0);
    opacity: 0.4;
    z-index: -1;
    inset: 0;
  }
}

article {
  max-width: 30rem;
}

aside {
  display: grid;
  grid-template-columns: 1fr;

  .apple-download {
    justify-self: flex-end;
    margin-right: 2rem;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

span {
  color: $light-red;
}

p {
  margin-top: 2rem;
}
