<div
  *ngIf="weapons$ | async as weapons; else loading"
  class="weapons-container"
>
  <div *ngFor="let weapon of weapons" class="weapon">
    <img
      [routerLink]="['/weapons', weapon.displayName.toLowerCase()]"
      [ngSrc]="weapon.displayIcon"
      [alt]="weapon.displayName + ' image'"
      class="weapon-img"
      width="313"
      height="100"
    />
    <div class="bottom-content">
      <h3>{{ weapon.displayName }}</h3>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading />
</ng-template>
