<div
  class="weapons-container"
  *ngIf="weapons$ | async as weapons; else loading"
>
  <div *ngFor="let weapon of weapons" class="weapon fade-in">
    <img
      class="weapon-img"
      width="340"
      height="114"
      [routerLink]="['/weapons', weapon.displayName.toLowerCase()]"
      [src]="weapon.displayIcon"
      [alt]="weapon.displayName + ' image'"
    />
    <div class="bottom-content">
      <h3>{{ weapon.displayName }}</h3>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
