:host {
  display: block;
  min-height: calc(100% - 92px);
  background-color: var(--primary-dark);
}

.weapons-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.weapon {
  border-radius: 4px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.weapon-img {
  cursor: pointer;
  max-height: 100px;
  object-fit: contain;
  margin-block: auto;
  width: auto;
  padding-block: 1rem;
}

.bottom-content {
  background-color: var(--light-red);
  padding: 0.5rem;
  margin-top: auto;
}
