<section [ngStyle]="{ backgroundColor: backgroundColor, color: color }">
  <ng-content select="[appTitle]"></ng-content>
  <div class="feature-container">
    <ng-content select="[featureImage]"></ng-content>
    <div [ngStyle]="{ order: descriptionOrder }" class="feature-description">
      <ng-content select="[featureTitle]"></ng-content>
      <ng-content class="feature-text" select="[featureText]"></ng-content>
      <ng-content select="[button]"></ng-content>
    </div>
  </div>
</section>
