@use '/src/styles/index.scss' as *;

footer {
  background-color: $light-white;
  color: $primary-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

:host {
  display: block;

  ::ng-deep {
    app-button {
      button {
        outline: 2px solid $primary-dark;
        margin-inline: 1rem;
      }
    }
  }
}