@use "/src/styles/index.scss" as *;

footer {
  background-color: $light-white;
  color: $primary-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

:host {
  ::ng-deep {
    app-button {
      button {
        outline: 2px solid $primary-dark;
      }
    }
  }
}
