<section class="container">
  <article>
    <h1>
      explore <span>lineups</span>, top player <span>crosshairs</span> and MUCH
      more ...
    </h1>
    <p>
      Find your favourite agent lineups and conquer them all. Explore crosshairs
      and find best one that fits your gameplay. Search through different agents
      and see their abilities
    </p>
  </article>
  <aside>
    <img
      class="iphone-img"
      src="assets/images/iphone-preview.webp"
      alt="iphone-preview"
    />
    <a href="https://github.com/ZuraKobakhidze/Valorant-Helper" target="_blank">
      <img
        class="apple-download"
        src="assets/images/apple-download.webp"
        alt="apple-download-icon"
      />
    </a>
  </aside>
</section>
