@import "./styles/reset";
@import "./styles/fonts";

:root {
  --primary-dark: #0f1923;
  --light-red: #ff274d;
  --light-white: #ece8e1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #172635;
}

::-webkit-scrollbar-thumb {
  background: var(--light-red);
}
