@use '/src/styles/index' as *;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: lighten($color: $primary-dark, $amount: 5%);
}
::-webkit-scrollbar-thumb {
  background: $light-red;
}
