@use "/src/styles/palette" as *;

:host {
  display: block;
  background-color: $primary-dark;
  min-height: 100%;
  padding: 1rem;
}

.back {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.8rem;
  cursor: pointer;
  margin-left: 5rem;
  padding-top: 2rem;
  img {
    height: 20px;
  }
}

.agent-description,
.ability-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 2rem;
}

.agent-description {
  h1 {
    font-size: 3rem;
    font-family: "Valorant";
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  h2 + p {
    margin-bottom: 1.5rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}

article {
  align-self: center;
}

aside {
  max-width: 80%;
  justify-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

video {
  max-width: 100%;
  align-self: center;
}

.ability-overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ability {
  border: 1px solid white;
  padding: 5px;
  display: flex;
  align-items: center;
  img {
    max-width: 70px;
    margin-right: 10px;
  }
  &-description {
    h2 {
      margin-bottom: 0.5rem;
    }
  }
}
