@use "/src/styles/palette" as *;

:host {
  display: block;
  background-color: $primary-dark;
  min-height: 100%;
  padding: 1rem;
}

.back {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.8rem;
  cursor: pointer;
  margin-left: 5%;
  padding-top: 2rem;
  img {
    height: 20px;
  }
}

.agent-description,
.ability-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.ability-container {
  margin-bottom: 4rem;
}

.agent-description {
  h1 {
    font-size: 3rem;
    font-family: "Valorant";
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  h2 + p {
    margin-bottom: 1.5rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}

article {
  align-self: center;
}

aside {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-self: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

video {
  max-width: 100%;
  align-self: flex-start;
  min-height: 300px;
}

.ability-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.ability {
  border: 1px solid white;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  img {
    max-width: 70px;
    margin-right: 10px;
  }
  h2 {
    margin-bottom: 0.5rem;
  }

  &.active {
    border-color: $light-red;
    h2 {
      color: $light-red;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .ability-container {
    grid-template-columns: 80%;
  }
  .ability-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  aside {
    background-size: contain;
  }
  .ability-container {
    grid-template-columns: 100%;
    gap: 1rem;
  }
  .ability {
    img {
      max-width: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .agent-description {
    grid-template-columns: 1fr;
    aside {
      order: -1;
      background-size: cover;
    }
  }
  .ability-overview {
    grid-template-columns: 1fr;
  }
}
