<div (click)="navigateBack()" class="back">
  <img src="../../../../../assets/images/back-arrow.svg" alt="arrow" />
  <h6>BACK</h6>
</div>

<ng-container *ngIf="agent">
  <div class="agent-description">
    <article>
      <h1>{{ agent.displayName }}</h1>
      <h6>// ROLE</h6>
      <h2>{{ agent.role.displayName }}</h2>
      <p>{{ agent.role.description }}</p>
      <h6>// BIOGRAPHY</h6>
      <p>{{ agent.description }}</p>
    </article>

    <aside [ngStyle]="{ 'background-image': 'url(' + agent.background + ')' }">
      <img [src]="agent.bustPortrait" [alt]="agent.displayName" />
    </aside>
  </div>

  <app-title margin="2rem 0 3rem 0">SPECIAL ABILITIES</app-title>

  <div class="ability-container">
    <div class="ability-overview">
      <div
        class="ability"
        (click)="abilityClick(ability)"
        *ngFor="let ability of agent.abilities"
      >
        <img
          class="ability-icon"
          [src]="ability.displayIcon"
          [alt]="ability.displayName"
        />
        <div class="ability-description">
          <h2>{{ ability.displayName }}</h2>
          <p>{{ ability.description }}</p>
        </div>
      </div>
    </div>
    <video [muted]="true" controls autoplay loop [src]="abilityVideo"></video>
  </div>
</ng-container>
