<section class="container">
  <app-title margin="4rem 0">AGENTS</app-title>
  <div class="agents-wrapper">
    <div class="agents-container">
      <app-agent-card
        *ngFor="let agent of agents"
        [style.transform]="'translateX(' + translateValue + 'px)'"
        [agent]="agent"
        (click)="onAgentClick(agent.pathName)"
      ></app-agent-card>
      <img
        class="arrow-left"
        src="../../../../assets/images/left.svg"
        alt="arrow-left"
        (click)="onLeft()"
      />
      <img
        class="arrow-right"
        src="../../../../assets/images/right.svg"
        alt="arrow-right"
        (click)="onRight()"
      />
    </div>
  </div>
  <div class="btn">
    <app-button routerLink="/agents">ALL AGENTS</app-button>
  </div>
</section>
