@use "../../../../../styles/palette" as *;

.container {
  background-color: $primary-dark;
}

.agents-wrapper {
  position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
app-agent-card {
  transition: 0.7s;
  cursor: pointer;
}

.agents-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(18, 300px);
  width: calc(900px + 4rem);
  margin-inline: auto;
  gap: 2rem;
  padding-inline: 2rem;
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
